@font-face {
  font-family: 'Futura PT Heavy';
  src: url('./FuturaPT/FuturaPTHeavy.ttf');
}

@font-face{
  font-family: 'Futura PT Medium';
  src: url('./FuturaPT/FuturaPTMedium.ttf');
}
#root{
  padding: 5vw;
}
#menu-container{
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu-bar{
  display: flex;
  flex-direction: row;
}

#header{
  width: 100%;
}
#menu{
  width: 100%;
}

.menu-item{
  float: right;
}
.menu-button{
  font-family: 'Futura PT Medium';
  background: none;
  border: none;
  color: #777;
  padding: 10px;
}
.menu-button:hover{
  color: black;
}

.menu-button:focus{
  outline: none;
  color: black;
}

#home{
  font-family: 'Futura PT Heavy';
  font-size: 3em;
  color: #101010;
}

#caption{
  font-family: 'Futura PT Medium';
  font-size: 0.9em;
  color: #777;
  white-space: nowrap;
}
#content{
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 300px) {
  #content { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 600px) {
  #content { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 900px) {
  #content { grid-template-columns: repeat(4, 1fr); }
}
.card{
  padding:20px;
  width: min-content;
}
.static-thumb{
  height: 30vw;
  width: 30vw;

  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}
.overlay{
  height: 30vw;
  width: 30vw;
  background-color: #303030;
  background-image: radial-gradient(#808080, #202020);
  z-index: 2;
  opacity: 0;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  transition: 0.5s;
}
.overlay:hover{
  
  opacity: 0;
}
.card-button{
  outline: none;
  border: none;
  background-color: #fff;
}
.credits{
  padding: 5px;
  color: #777;
  font-size: 12px;
}
.credit-tag{
  font-size: 14px;
}
.description{
  padding-bottom: 7px;
}


.viewport{
  min-height: 35vw;
  min-width: 100px;
  margin: 15px;
}
#pano{
  min-height: 45vw;
}

#map-instruction{
  text-align: center;
  font-family: 'Futura PT Medium';
  color: #777;
  padding-top: 7px;
  padding-bottom: 10px;
}

#search{
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 12px;
}

#search-input{
  width: 85%;
  border: none;
  border-radius: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

#search-button{
  
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  background-color: #f1f1f1;
  background-image: url('./images/login.png');
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  float: right;
}

#add-tag{
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-family: 'Futura PT Medium';
  padding-top: 30px;
  padding-bottom: 15px;;
}

@media only screen and (min-width: 600px) {

  #map{
    float: left;
  }
  #pano{
    float: right;
    min-height: 35vw;
  }
  .viewport{
    width: 50%;
    margin: 0px;
  }
  .overlay{
    opacity: 0.2;
  }

  #search{
    width: 60%;
  }
  #add-tag{
    font-size: 34px;
  }
}

.divider{
  min-width: 10px;
  text-align: center;
}



#table{
  min-width: 100%;
}
.stat{

  background-color: #f1f1f1;
  padding: 10px;
  font-family: 'Futura PT Medium';
  color: #777;
  display: flex;
  justify-content: center;
}
.tag-value{
  padding-left: 10px;
}
.tag-input{
  margin-left: 10px;
  color: #666;
  border-color: #777;
  border-style: solid;
  border-width: 0px;
  padding: 5px;
  border-radius: 7px;
}

#save-button{
  margin: 10px;
  font-family: 'Futura PT Medium';
  color: #fff;
  background-color: #303030;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  outline: none;
}

#button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

#footer{
  text-align: center;
}

#database-button{
  outline: none;
  border-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
  background-color: #f1f1f1;
}